<!DOCTYPE html>
<html lang="en">
<head>
	<title>Game Portal</title>
	<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" href="~/admin/media/logos/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
	<link href="~/admin/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/admin/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="app-blank bgi-size-cover bgi-position-center bgi-no-repeat">

	<div class="d-flex flex-column flex-root">
		<style>			
			body {
				background-image: url('/admin/media/auth/bg4.jpg');
			}
		</style>
		<div class="d-flex flex-column flex-column-fluid flex-lg-row">
			<div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
				<div class="d-flex flex-center flex-lg-start flex-column">
					<a href="/" class="mb-7">
						<img alt="Logo" src="~/images/logo.png" />
					</a>
					<h2 class="text-white fw-normal m-0">Админ панель Игрового портала</h2>
				</div>
			</div>
			<div class="d-flex flex-center w-lg-50 p-10">
				<div class="card rounded-3 w-md-550px">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
	<script src="~/admin/plugins/global/plugins.bundle.js"></script>
	<script src="~/admin/js/scripts.bundle.js"></script>
	<script src="~/admin/js/custom/authentication/sign-in/general.js"></script>
</body>
</html>
